            body {
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
		        color:#0F3825
            }
            main {
                padding-top: 160px;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
		        background-color: #FFFFFF;
            }
            footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                padding: 20px;
                margin: 0 auto;
                width: 80%;
		        background-color: #1E5F3F;
                color: #F5F1E3;
            }
                main {
                    padding: 120 20px;
                    max-width: 800px;
                    margin: 0 auto;
                    background-color: #FFFFFF;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
            h1 {
                font-size: 60px;
                margin-bottom: 30px;
                margin-top: 20px;
                text-align: center;
		        color: #0F3825;
            }
            h2 {
                font-size: 30px;
                color: #1E5F3F;
                text-align: center
            }
            p {
                font-size: 18px;
                text-align: center;
            }
