/* --- ČISTĚ STYLY PRO HORNÍ LIŠTU --- */
* {
    font-family: Arial, Helvetica, sans-serif !important;
    }
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #0F3825;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    transition: transform 0.7s ease;
}

.logo { margin-left: 20px; }
.logo img { height: 120px; display: block; }

#menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #F5F1E3;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav a {
    color: #F5F1E3;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3, stransform 0.3s; /*zkouska*/
    display: inline-block; /*zkouska*/
    position: relative;
}

nav a:hover {
    color: #d4a373;
    transform: scale(1.1); /*zkouska*/
}

nav a:not(.vlajka a)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #d4a373; /* Tvoje zlatá */
    transition: width 0.3s ease;
}

nav a:not(.vlajka a):hover::after {
    width: 100%;
}

.vlajka {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
}

.vlajka a {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.vlajka a img { width: 100%; height: 100%; object-fit: cover; display: block; }

/* Mobilní verze */
@media (max-width: 768px) {
    .logo img { 
        height: 80px; 
    }
    #menu-toggle { 
        display: block; 
        position: absolute; 
        top: 15px; 
        right: 20px; 
    }
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #0F3825;
        padding: 20px 0;
    }
    nav.show { 
        display: flex; 
    }
    nav a { padding: 15px 0; 
           width: 100%; 
           text-align: center; 
    }
                .vlajka {
                    display: flex;  
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 30px;
                    box-shadow: none;
                    margin: 0;
                    padding: 0;
                    background: none;
                }
                .vlajka a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    box-shadow: none;
                }
                .vlajka img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    display: block;
    }
}
